@font-face {
    font-family: 'pixel_game';
    src: url('../fonts/Pixel Game.otf') format('opentype'),
         url('../fonts/Game Paused DEMO.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'pixel_game', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

h1, h2, h3 {
    font-family: 'pixel_game', serif;
    color: #2c3e50;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

p {
    margin-bottom: 1.5rem;
}

header {
    background-color: #2c3e50;
    padding: 1rem;
    text-align: center;
}

#logo_link img {
    max-width: 200px;
    height: auto;
}

.logo {
    max-width: 150px;
    height: auto;
    border-radius: 8px; /* Rounded corners */
    transition: transform 0.3s ease; /* Smooth transition */
}

.logo:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
}

nav a:hover {
    color: #f1c40f;
}

#home_intro {
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    margin-bottom: 2rem;
}

#games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.game {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    width: 30%;
    text-align: center;
}

.game img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer a {
    color: #f1c40f;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.social img {
    width: 30px;
    margin: 0 0.5rem;
}


@media (max-width: 768px) {
    .logo {
        max-width: 120px;
        border-radius: 6px;
    }
    #games {
        flex-direction: column;
    }

    .game {
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}