@font-face {
    font-family: 'pixel_game';
    src: url('../fonts/Pixel Game.otf') format('opentype'),
         url('../fonts/Game Paused DEMO.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: 'pixel_game', sans-serif;
  }