@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Crimson+Text:wght@400;700&display=swap');
@import url('https://fonts.google.com/specimen/Rubik');

body {
    background-color: #82846D; 
    font-family: 'Crimson Text', serif, 'Times New Roman';
    font-size: 22px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    margin: 0;
}

header {
    background-color: #82846D; 
    font-family: 'Archivo Black', sans-serif, Arial, Helvetica;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-box {
    display: flex;
    justify-content: center;
}

#hero-img {
    width: 100%;
    max-width: 600px;
}

#hero-msg {
    text-align: center;
}

.home-title, 
.msg h2 {
    font-family: 'Archivo Black', sans-serif, Arial, Helvetica;
    font-size: 2em;
}
                            
.home-title {
    margin-top: 10px;
    font-size: 2em;
}

#logo_link {
    padding: 5px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav a {
    padding: 35px;
}

.book, 
.join {
    font-family: 'Archivo Black', sans-serif, Arial, Helvetica;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px 30px;
}

.icon {
    padding-top: 10px;
}

.msg {
    padding: 35px;
}

.msg p{
    font-family: 'Archivo Black', sans-serif, Arial, Helvetica;
    font-size: .8em;
    padding-bottom: 15px;
}

.card-img {
    border: 10px solid #000;
    border-radius: 5px;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.rivers-card, 
.camping-card, 
.rapids-card {
    margin: 200px 0;
}

footer {
    margin-top: 200px;
    padding: 25px 50px;
    text-align: center;
}

footer .social {
    display: flex;
    justify-content: center;
}

footer .social img {
    padding-top: 15px;
    margin: 0 10px;
}
